Temp
Library
obj

.gradle
.settings
.svn
.metadata
.project
.classpath
.DS_Store
*.class
*.log

.idea
*.iml

.vs
*.csproj
*.sln
*.userprefs
*.user
*.suo
*.unityproj

Assets/Plugins
Assets/Plugins.meta